* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #abbcdf;
}

.content {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    background-color: #ebe4e4;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}